* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

header {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  background-color: #282C34;
  color           : white;
}

nav {
  width  : fit-content;
  padding: 1%;
}

.links {
  color       : white;
  margin-right: 10%;
  font-size   : 1.2vw;
}

main {
  text-align : center;
  line-height: 2;
  font-size  : 2vw;
}

.linkbuttons {
  text-decoration : none;
  background-color: #282C34;
  color           : white;
  padding         : .5%;
}